<nav>
    <p>Barra de navegação</p>
</nav>
<h1>Hello World!</h1>
<div> {{{palavra}}} </div>

{{#if auth}}
<p>
    Você está autenticado, <a href="dashboard">Clique aqui</a> para acessar o dashboard.
</p>
{{/if}}

