{{#with post}}
    <h1> {{title}} </h1>
    <p> {{category}} </p>
    <section> {{body}} </section>
    <span> Comentários: {{comments}} </span>    
{{/with}}
<p><a href="/dashboard">Dashboard</a></p>